.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  h2 {
    padding: .3em;
    border-bottom: 1px solid rgba(169, 169, 169, 0.8);
  }

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .7em;
  }
}